<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Notification</title>
</head>
<body>
	<div align="center">
		<h1>Create New Notification</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${notification}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Notification Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Content:</td>
					<td><input type="text" th:field="*{content}" /></td>
				</tr>
				<tr>
					<td>DateTime:</td>
					<td><input type="datetime-local" th:field="*{dateTime}" /></td>
				</tr>

				<tr>
					<td colspan="2"><button th:action="@{/scheduleEmail}"
							type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>