<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="#{create.email}"></title>
</head>
<body>
	<div align="center">
		<h1 th:text="#{create.email}"></h1>
		<br />
		<form action="#" th:action="@{/scheduleEmail}"
			th:object="${emailRequest}" method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td th:text="#{email.rec}"></td>
					<td><input type="email" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td th:text="#{email.sub}"></td>
					<td><input type="text" th:field="*{subject}" /></td>
				</tr>
				<tr>
					<td th:text="#{email.body}"></td>
					<td><input type="text" th:field="*{body}" /></td>
				</tr>
				<tr>
					<td th:text="#{email.date}"></td>
					<td><input type="datetime-local" th:field="*{dateTime}" /></td>
				</tr>

				<tr>
					<td colspan="2"><button type="submit" th:text="#{save}"></button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>